<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLavONcXjY1AkwEj0Y3J-BAdIWE8ficjM</string>
	<key>GCM_SENDER_ID</key>
	<string>977838091183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-e3fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-e3fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977838091183:ios:4f980bb72724c0ea361d5a</string>
</dict>
</plist>